:root {
  --color-neutral-600: #485769;
  --color-neutral-700: #37475a;
  --color-neutral-800: #232f3e;
  --color-neutral-900: #131921;
  --color-gray-400: #9ca3af;
}

body {
  background-color: #f6f6f6;
}

ul {
  list-style-type: none;
}

button,
a {
  outline: none;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: none;
}

.chakra-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.panel {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.main-button {
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #fcd200;
  background-color: #fcd200;
  transition: color 0.15s;
}

.main-button:hover {
  background-color: #f7ca00;
}

.field {
  padding: 0.5px 0.75px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 0.375rem;
  width: 100%;
}

.field:focus {
  border-color: #e77600;
  box-shadow: 0 0 0 1.5px #e77600;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-heading {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .dashboard-heading {
    text-align: start;
  }
}

form .chakra-icon {
  width: 15px;
}

.edit-vendor-root {
  flex-direction: column;
  align-items: start;
  gap: 0;
  color: #71717a;
  font-size: 0.875rem;
}

.edit-vendor-root .edit-vendor-label {
  font-weight: 700;
  margin-bottom: 0.125rem;
  color: #1a3478;
}
